body {
    padding: 20px;
    font-family: Arial;
}

.grid {
    width: 95%;
    height: 600px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ddd;
    margin: 10px 0px;
    border: 10px solid #ddd;
    clear: both;
}

.grid > div {
    background-color: #fff;
    position: absolute;
}

/* slider for sample 1 */

.slider {
    width: 200px;
    display: inline-block;
    margin: 0px 10px;
}

.sliderLabel {
    font-size: 18px;
    font-weight: bold;
}

/* template selections for sample #2 */

.dev-tile-number, .dev-tile-size {
    font-size: 36px;
    padding: 10px;
}

.dev-tiles-templates ul {
    margin-bottom: 10px;
}

.dev-template {
    margin-right: 20px;
    height: 35px;
    display: inline-block;
    background: url(dev-tiles-sprite.png) no-repeat;
    cursor: pointer;
}

.dev-template.selected {
    background-position-y: -200px;
}

.dev-l1 {
    width: 47px;
}

.dev-l2 {
    width: 47px;
    background-position-x: -68px;
}

.dev-l3 {
    width: 39px;
    background-position-x: -135px;
}

.dev-l4 {
    width: 39px;
    background-position-x: -194px;
}

.dev-l5 {
    width: 47px;
    background-position-x: -245px;
    margin-right: 0px;
}